@import "../../SharedScss/variables";
@import "../../SharedScss/mixins";

$columnsCount: 4;
$columnGap: calc(220px / (#{$columnsCount} - 1));
$columnWidth: calc(
  (100% - ((#{$columnsCount} - 1) * #{$columnGap})) / #{$columnsCount}
);

.Home {
  // background-image: url("/design/mobile-design-home-dark.jpg");
  // background-repeat: no-repeat;
  // background-position: center -160px;
  padding: 48px 0;
  .container {
    padding: 0 $web-side-space;
    .row {
      display: flex;
      justify-content: space-between;
      .filterSelect {
        width: 200px;
        border-radius: 5px;
        @include defaultBoxShadow();
      }
    }
    .cardsContainer {
      display: grid;
      grid-template-columns: $columnWidth $columnWidth $columnWidth $columnWidth;
      column-gap: $columnGap;
      justify-content: space-evenly;
    }
  }
  @media screen and (max-width: 1200px) {
    $columnsCount: 3;
    $columnGap: calc(220px / (#{$columnsCount} - 1));
    $columnWidth: calc(
      (100% - ((#{$columnsCount} - 1) * #{$columnGap})) / #{$columnsCount}
    );
    .container {
      .cardsContainer {
        grid-template-columns: $columnWidth $columnWidth $columnWidth;
        column-gap: $columnGap;
      }
    }
  }
  @media screen and (max-width: 960px) {
    $columnsCount: 2;
    $columnGap: calc(120px / (#{$columnsCount} - 1));
    $columnWidth: calc(
      (100% - ((#{$columnsCount} - 1) * #{$columnGap})) / #{$columnsCount}
    );
    .container {
      .cardsContainer {
        grid-template-columns: $columnWidth $columnWidth;
        column-gap: $columnGap;
      }
    }
  }
  @media screen and (max-width: 750px) {
    .container {
      padding: 0 33px;
      .row {
        flex-direction: column;
        .filterSelect {
          margin-top: 82px;
          width: 400px;
        border-radius: 10px;
        }
      }
      .cardsContainer {
        padding: 18px 77px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
