.Header {
  // background-color: blue;
  // background-image: url("/design/desktop-design-home-light.jpg");
  .container {
    height: 80px;
    .row {
      display: flex;
      height: 100%;
      align-items: center;
      // background-color: rgba(#ff0000, 0.3);
      .title {
        color: red;
        font-size: 24px;
        margin: 0;
      }
    }
  }
  button {
    background-color: inherit;
    color: inherit;
    font-size: 12px;
  }
}
