@import "../../SharedScss/variables";
.Header {
  box-shadow: 0 0 10px -6px;
  .container {
    height: 80px;
    padding: 0 $web-side-space;
    .row {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      .title {
        font-size: 24px;
        margin: 0;
      }
      .toggle {
        font-size: 16px;
        background-color: transparent;
        border: 0;
        padding: 0;
        color: inherit;
        svg {
          margin-right: 10px;
        }
      }
    }
  }
}
