@import "../../SharedScss/variables";
@import "./../../SharedScss/mixins";

.Header {
  @include defaultBoxShadow();
  // background-image: url("/design/mobile-design-home-dark.jpg");
  // background-repeat: no-repeat;
  // background-position: top center;
  .container {
    height: 80px;
    padding: 0 $web-side-space;
    .row {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      a {
        text-decoration: none;
        color: inherit;
        .title {
          font-size: 24px;
          margin: 0;
        }
      }

      .toggle {
        font-size: 16px;
        background-color: transparent;
        border: 0;
        padding: 0;
        color: inherit;
        svg {
          margin-right: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    .container {
      height: 164px;
      padding: 0 33px;
      .row {
        a {
          .title {
            font-size: 28px;
          }
        }

        .toggle {
          font-size: 24px;
          svg {
            margin-right: 22px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 540px) {
    .container {
      .row {
        .toggle {
          span{
            display: none;
          }
          svg{
            margin: 0;
          }
        }
      }
    }
  }
}
